<!DOCTYPE html>
<html>
  <head>
    <title>Account Details</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Account Details</h1>
    <p>Account no</p>
    <p>Type</p>
    <p>Balance</p>
    
  </body>
</html>