<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  <link rel="stylesheet" href="../public/stylesheets/main2.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <title>Online Portal-Bank A</title>
</head>

<body>


  <!-- new form start -->
  <div class="container">
    <h3>Create New Account</h3>
    <form action="createOrganizationalNewForm" method="post">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Organization Name</label>
          <input type="text" name="name" class="form-control" id="inputEmail4" placeholder="Organization Name">
        </div>
        <div class="form-group col-md-3">
          <label for="inputPassword4">Start Date</label>
          <input type="date" name="dos" class="form-control" id="inputPassword4" placeholder="Start Date">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <span>Account Type: </span>
          <input name="accType"  value="1" type="radio" data-toggle="collapse" data-target="#collapseOne" /> Saving Account

          <input name="accType" value="2" type="radio" data-toggle="collapse" data-target="#collapseOne" checked /> Corrent
          Account

          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label for="name">Organization Name</label>
                      <select name="accPlan" class="form-control">
                        <option value="">-- Select Type --</option>
                        <option value="1">Child</option>
                        <option value="2">Teen</option>
                        <option value="3">Adult</option>
                        <option value="4">Senior(60+)</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">User Name</label>
          <input type="text" name="username" class="form-control" id="inputEmail4" placeholder="Username">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>


      <p>Address </p>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Street No.</label>
          <input type="text" name="streetNo" class="form-control" id="inputEmail4" placeholder="Street No">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Street</label>
          <input type="text" name="street" class="form-control" id="inputPassword4" placeholder="Street Name">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">City</label>
          <input type="text" name="city" class="form-control" id="inputEmail4" placeholder="City">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Province</label>
          <input type="text" name="province" class="form-control" id="inputPassword4" placeholder="Province">
        </div>
      </div>

      <p>Contact Details</p>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">Contact Number</label>
          <input type="text" name="contactNo" class="form-control" id="inputEmail4" placeholder="Contact Number">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Email</label>
          <input type="email" name="email" class="form-control" id="inputPassword4" placeholder="Email">
        </div>
      </div>

      <!-- new form end -->
      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>


</body>

</html>