<!DOCTYPE html>
<html>
  <head>
    <title>profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    
    <h1>Welcome to Bank A employee</h1>
    <p>online portal</p>
    <button><a href="createForm">Create Account</a></button>
    
      
  </body>
  
</html>
