<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Money Transfer</title>
</head>
<body>

    <h2>Money Transfer</h2>
    <form action="moneyTransfer" method="post">
        <input type="text" name="accNo" id="accNo">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
</body>
</html>