
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Online Portal-Bank A</title>    
</head>

<style>
  body {
    background-color: rgba(255, 255, 2555, 1.0);
    
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
  }  
</style>


<body>
    <div class="container">
 
        <form action="normalLoanRequest" method="post" class="was-validated">
          <!-- <div class="form-group">
            <label for="accountNum">Account Number:</label>
            <input type="text" class="form-control" id="accountNum" placeholder="Enter Account Number" name="actNum" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div> -->

          <div class="form-group">
            <label for="repayPeriod">Repayment Period(number of months):</label>
            <input type="number" class="form-control" id="repayPeriod" placeholder="Enter Repayment Period" name="repayPeriod" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>

          <div class="form-group">
            <label for="loanAmount">Loan Amount:</label>
            <input type="number" class="form-control" id="loanAmount" placeholder="Enter Loan Amount" name="loanAmount" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>

          <div class="form-group">
            <label for="empSector">Employment Sector:</label><br>
            <select>
                <option value="pvt">Private Sector</option>
                <option value="pub">Public Sector</option>
            </select>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>

          <div class="form-group">
            <label for="empType">Employement Type:</label><br>
            <select>
                <option value="full">Full time</option>
                <option value="part">Part time</option>
                <option value="fixed">Fixed term</option>
                <option value="contract">Contract basis</option>
            </select>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>


          <div class="form-group">
            <label for="profession">Profession:</label>
            <input type="text" class="form-control" id="profession" placeholder="Enter Profession:" name="profession" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>

          <div class="form-group">
            <label for="annualSalary">Annual Total Salary:</label>
            <input type="number" class="form-control" id="annualSalary" placeholder="Enter Annual Salary" name="annualSalary" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        
        </form>
      </div>
      

</body>
</html>