<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Account Details</title>
</head>
<body>
  
<form action="withdrawMoney" method="post">
 <div class="form-group">
    <label for="">Account No. :</label>
    <input type="text" class="form-control" name="accNo" id="accNo" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted">Enter the account Number</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>